:root {
	--bg-color: #000;
	--title-color: #fff;
	--text-color: #c7c7c7;
	--primary-color: #d3e97a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

.container {
	max-width: 1264px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.site-header {
	padding-top: 24px;
	padding-bottom: 24px;
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	letter-spacing: -1%;
	color: var(--text-color);
}

.site-header__list {
	display: flex;
	gap: 32px;
}

.site-header__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -3%;
	color: var(--text-color);
}

.menu-btn {
	display: none;
}

/* HERO START */
.hero {
	padding-top: 30px;
	padding-bottom: 80px;
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.hero__info {
	max-width: 544px;
	width: 100%;
}

.hero__title {
	font-family: Bebas Neue;
	font-weight: 400;
	font-size: 80px;
	line-height: 90%;
	margin-bottom: 8px;
	color: var(--title-color);
	text-transform: uppercase;
}

.hero__text {
	font-family: Manrope;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 40px;
}

.hero__inner {
	display: flex;
	align-items: center;
	gap: 16px;
}

.hero__link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 25px;
	padding: 19px 19px 19px 24px;
	background-color: #d3e97a;
	border-radius: 100px;
	color: #0a0a0a;
	font-family: Manrope;
	font-weight: 700;
	font-style: Bold;
	font-size: 16px;
	line-height: 100%;
	text-transform: uppercase;
}

.hero__link span {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #0a0a0a;
	border-radius: 50%;
}

.hero__social {
	display: flex;
	align-items: center;
	gap: 16px;
}

.hero__social a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	background-color: #222222;
	border-radius: 50%;
}

.hero__img {
	max-width: 600px;
	width: 100%;
}

.hero__img img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
/* HERO END */

/* FEATURED START */
.featured {
	padding-top: 80px;
	padding-bottom: 80px;
}

.featured__top {
	margin-bottom: 80px;
	max-width: 600px;
	width: 100%;
}

.featured__top h2 {
	font-family: Bebas Neue;
	font-weight: 400;
	font-size: 76px;
	line-height: 100%;
	margin-bottom: 8px;
	color: var(--title-color);
}

.featured__top p {
	font-family: Manrope;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0%;
	color: var(--text-color);
}

.featured__list {
	display: flex;
	flex-direction: column;
	gap: 120px;
}

.featured__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 48px;
}

.featured__work {
	max-width: 600px;
	width: 100%;
	position: relative;
	padding: 126px 57px;
	background-color: #1a1a1a;
	border-radius: 12px;
}

.featured__work img {
	object-fit: contain;
}

.featured__work-btn {
	position: absolute;
	top: 16px;
	left: 16px;
	background-color: #0a0a0a;
	padding: 8px 16px;
	border: none;
	font-family: Manrope;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0%;
	color: var(--title-color);
	border-radius: 100px;
}

.featured__info {
	max-width: 576px;
	width: 100%;
}

.featured__title {
	margin-bottom: 16px;
	font-family: Manrope;
	font-weight: 500;
	font-size: 32px;
	line-height: 140%;
	color: var(--title-color);
}

.featured__text {
	margin-bottom: 32px;
	font-family: Manrope;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
}

.featured__title4,
.featured__inner {
	font-family: Manrope;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	padding-bottom: 16px;
	border-bottom: 1px solid #484848;
	margin-bottom: 16px;
	color: var(--title-color);
}

.featured__inner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
}

.featured__social {
	display: flex;
	align-items: center;
	gap: 24px;
}

.featured__social a {
	display: flex;
	align-items: center;
	font-family: Manrope;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	text-transform: uppercase;
	color: var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
	padding-bottom: 4px;
}
/* FEATURED END */

/* ABOUT ME START */
.about-me {
	border-top: 1px solid #484848;
	padding-top: 122px;
	padding-bottom: 391px;
}

.about-me__container {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.about-me__title {
	font-family: Bebas Neue;
	font-weight: 400;
	font-size: 101px;
	line-height: 90%;
	color: var(--title-color);
	text-transform: uppercase;
}

.about-me__info {
	max-width: 704px;
	width: 100%;
}

.about-me__title3 {
	margin-bottom: 16px;
	font-family: Manrope;
	font-weight: 500;
	font-size: 32px;
	line-height: 140%;
}

.about-me__text {
	margin-bottom: 53px;
	font-family: Manrope;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
}

.about-me__link {
	font-family: Manrope;
	font-weight: 700;
	font-style: Bold;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	color: var(--primary-color);
	padding-bottom: 4px;
	border-bottom: 2px solid var(--primary-color);
}
/* ABOUT ME END */

/* MEADI START */
@media screen and (max-width: 1024px) {
	/* HERO START */

	.hero__info {
		max-width: 480px;
	}

	.hero__title {
		font-size: 64px;
	}
	/* HERO END */

	/* FEATURED START */
	.featured__top {
		margin-bottom: 64px;
	}

	.featured__top h2 {
		font-size: 64px;
	}

	.featured__list {
		gap: 90px;
	}

	.featured__item {
		gap: 36px;
	}

	.featured__work {
		max-width: 48%;
		display: flex;
		padding: 80px 57px;
	}

	.featured__work img {
		object-fit: cover;
		width: 100%;
	}

	.featured__info {
		max-width: 48%;
	}

	.featured__title {
		margin-bottom: 16px;
		font-size: 28px;
	}

	.featured__text {
		font-size: 16px;
	}

	.featured__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	/* FEATURED END */

	/* ABOUT ME START */

	.about-me__title {
		font-size: 80px;
	}
	/* ABPUT ME END */
}
@media screen and (max-width: 768px) {
	.logo {
		font-size: 28px;
	}

	.site-header__list {
		gap: 24px;
	}

	.site-header__link {
		font-size: 14px;
	}

	/* HERO START */
	.hero {
		padding-top: 40px;
		padding-bottom: 64px;
	}

	.hero__info {
		max-width: 48%;
	}

	.hero__title {
		font-size: 48px;
	}

	.hero__text {
		font-size: 16px;
		margin-bottom: 36px;
	}

	.hero__inner {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.hero__link {
		gap: 12px;
		padding: 4px 5px 4px 16px;
		font-size: 14px;
	}

	.hero__link span {
		width: 40px;
		height: 40px;
	}

	.hero__social a {
		width: 54px;
		height: 54px;
	}

	.hero__img {
		max-width: 48%;
	}

	/* HERO END */

	/* FEATURED START */
	.featured__item {
		flex-direction: column;
	}

	.featured__work {
		max-width: 100%;
		padding: 50px 40px 0px 40px;
	}

	.featured__info {
		max-width: 100%;
	}

	/* FEATURED END */

	/* ABOUT ME START */
	.about-me {
		padding-top: 0;
		padding-bottom: 64px;
	}

	.about-me__container {
		gap: 0;
	}

	.about-me__title {
		display: none;
	}

	.about-me__info {
		max-width: 100%;
	}

	.about-me__title3 {
		font-size: 24px;
	}

	.about-me__text {
		margin-bottom: 24px;
		font-size: 16px;
	}

	/* ABOUT ME END */
}

@media screen and (max-width: 680px) {
	.hero__container {
		flex-direction: column;
	}

	.hero__info {
		max-width: 100%;
	}

	.hero__title {
		font-size: 57px;
	}

	.hero__img {
		max-width: 100%;
	}
}

@media screen and (max-width: 470px) {
	.site-header__list {
		display: none;
	}

	.logo {
		font-size: 24px;
	}

	.menu-btn {
		display: block;
		background-color: transparent;
		border: none;
	}

	.hero__title {
		font-size: 48px;
	}

	/* FEATURED START */
	.featured {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	.featured__top {
		margin-bottom: 64px;
		max-width: 100%;
		width: 100%;
	}

	.featured__top h2 {
		font-size: 43px;
		margin-bottom: 12px;
	}

	.featured__top p {
		font-size: 16px;
	}

	.featured__list {
		gap: 96px;
	}

	.featured__item {
		gap: 40px;
	}

	.featured__work-btn {
		top: 10px;
		left: 10px;
		padding: 6px 12px;
		font-size: 12px;
	}

	.featured__title {
		font-size: 24px;
	}

	.featured__text {
		font-size: 16px;
	}

	.featured__inner {
		margin-bottom: 16px;
	}

	.featured__social a {
		font-size: 14px;
	}
	/* FEATURED END */
}
/* MEADI END */
